<!DOCTYPE html>
<html lang="es" ng-app="jareina">

<head>
  <meta charset="UTF-8">
  <title>JAreina</title>
  <link rel="stylesheet" href="css/app.css">
</head>

<body>
  <div class="container" ng-controller="PlaylistController">
    <h1>Decorators</h1>
    {{text}}

  <h1>promesas</h1>
  <div class="container" ng-controller="PromesaController">
<p>Estado del servidor: {{ status }}</p>
 <p>Estado del servicio HTTP: {{ http }}</p>
 <p>Estado del servicio de Base de Datos: {{ db }}</p>
 <p>Estado de las conexiones seguras: {{ ssl }}</p>
 </div>
 <div ng-controller="PromesasController">
<h1>varias promesas</h1>
<p ng-repeat="promesas in promesas">TODAS : {{promesas}}</p>
</div>
<h1>servicio</h1>
    <ul>
      <li ng-repeat="titulo in playlist"> {{ titulo }} </li>
    </ul>
  </div>
  <div ng-controller="PlaylistMetodosController">
    <ul>
      <li ng-repeat="titulo in playlist">
        {{ titulo }}
        <a class="button" href="#" ng-click="borrar($index)">&times;</a>
      </li>
    </ul>
  </div>
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/Services/Playlist.js"></script>
  <script src="js/Decorators/Playlists.js"></script>
  <script src="js/Controllers/PlaylistController.js"></script>
  <script src="js/Controllers/PromesaController.js"></script>
  <script src="js/Controllers/PromesasController.js"></script>
  <script src="js/Controllers/PlaylistMetodosController.js"></script>

</body>

</html>
