<!DOCTYPE html>
<html lang="es" ng-app="jareina">

<head>
  <meta charset="UTF-8">
  <title>JAreina</title>
  <link rel="stylesheet" href="css/app.css">
</head>

<body  ng-controller="AnchorScrollController">



<h1>ANCHOR SCROLL</h1>

<a href="" ng-click="irA(1)">Contenido 1</a>
<a href="" ng-click="irA(2)">Contenido 2</a>
 <a href="" ng-click="irA(3)">Contenido 3</a>
 <a href="" ng-click="irA(4)">Contenido 4</a>
 <div class="contenido" id="contenido1">Contenido 1</div>
 <div class="contenido" id="contenido2">Contenido 2</div>
 <div class="contenido" id="contenido3">Contenido 3</div>
 <div class="contenido" id="contenido4">Contenido 4</div>



  <script src="bower_components/angular/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/Services/Playlist.js"></script>
  <script src="js/Decorators/Playlists.js"></script>
  <script src="js/Controllers/PlaylistController.js"></script>
  <script src="js/Controllers/PromesaController.js"></script>
  <script src="js/Controllers/PromesasController.js"></script>
    <script src="js/Controllers/AnchorScrollController.js"></script>
  <script src="js/Controllers/PlaylistMetodosController.js"></script>

</body>

</html>
