<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ng-class</title>
  <style>
    .container {
      width: 600px;
      margin: auto;
    }

    ul {
      list-style: none;
      width: 100%;
      padding: 0;
      margin: 0;
    }

    input {
      width: 100%;
      padding: 5px;
    }

    .primera {
      background-color: #FF7676;
    }

    .medio {
      background-color: #4AB300;
    }

    .ultima {
      background-color: #43539C;
    }

    .par {
      text-decoration: underline;
    }

    .impar {
      font-weight: bold;
    }
  </style>
  <script src="lib/angular.js"></script>
</head>

<body ng-app="miApp" ng-controller="miCtrl">
  <div class="container">
    <h1>Biblioteca de CD's.</h1>
    <input type="search" ng-model="buscar" placeholder="Buscar...">
    <ul>
      <li ng-repeat="cd in cds | filter:buscar" ng-class="{
 'primera':$first,
 'medio':$middle,
 'ultima':$last,
 'impar':$even,
 'par':$odd}">
        {{ $index+1 }} - {{ cd }}
      </li>
    </ul>
  </div>


  <script>
    angular.module('miApp', [])
      .controller('miCtrl', ['$scope', function($scope) {
        var cds = [
          'Songs of Innocence',
          'Forget the World',
          'Unlocked', 'True',
          'The New Daylight',
          'Lovers on the Sun',
          'Talking Dreams',
          'Trouble in paradise'
        ];
        $scope.cds = cds;
      }]);
  </script>
</body>


</html>
